<nav class="navbar navbar-expand-lg navbar-gray bg-black ">
    <div class="container-fluid">
      <a class="navbar-brand text-white" routerLink="about" routerLinkActive="active" >AboutUs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-white" routerLink="/Products/:pid" routerLinkActive="active">details</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/Order" routerLinkActive="active">Order</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link text-white" routerLink="/contact" routerLinkActive="active">Contact Us</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/Login" routerLinkActive="active">Log In</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/Register" routerLinkActive="active">Register</a>
          </li>

         
          <!-- <button routerLink="cart"> -->
            <!-- <i style="font-size: 30px;" class="fas fa-cart-plus text-dark"></i> -->
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button> -->


          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>

          
        </form>

       
      </div>
    </div>
  </nav>